html {
  height: 100%;
  background-image: url("https://images.wallpapersden.com/image/download/sahara-desert-in-scenery-night_a2htamuUmZqaraWkpJRmbmdlrWZnZWU.jpg")
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}
