html {
  height: 100%;
  background-image: url("https://media.discordapp.net/attachments/798496582839304203/1112372687143182418/wallpapersden.com_sahara-desert-in-scenery-night_1920x1200.jpg?width=1315&height=610")
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}
